.bg-main {
    /* background-color: #dfddcf; */
    background-color: #8b7861;
}

.bg-accent {
    /* background-color: #bbaf95; */
    background-color: #291d13;
}

.text-main {
    color: #e1d9cf;
}