.bg-main {
    /* background-color: #dfddcf; */
    background-color: #fff;
}

.bg-accent {
    /* background-color: #bbaf95; */
    background-color: #000;
}

.text-main {
    /* color: #e1d9cf; */
    color: #767676;
}